/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/

.container{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	border: 1px solid black;
	width: 600px;

}
.outline{
	border: 1px solid black;
}
