/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/

.container{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	
	width: 89%;
	column-gap: 2%;
	row-gap: 20px;
	/* grid-template-rows: 200px 200px 200px 200px; */
	margin:auto;
}
.container >*{
	min-height: 250px
}
.header{
	display: flex;
	align-items: center;
	padding: 2%;
	min-height: 100px;
}
.header nav{
	display: flex;
	gap: 2%;
	width: 100%;
}
.header nav button:last-child{
	margin-left: auto;
}

.outline{
	border: 1px solid black;
}
header{
	grid-column: 1/13;
}
.box1{
	grid-column:1/3;
}
.box2{
	grid-column:3/11;
}
.box3{
	grid-column:11/13;
}
.content{
	grid-column:1/10;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 15px;
	padding: 2%;
}
.content section{
	border: 1px solid black;
	flex-basis: 30%;
	flex-grow: 1;
	min-width: 200px;
	min-height: 100px;
}
.sidebar{
	grid-column:10/13;
}
.sidebar nav{
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 4%;
}

footer{
	grid-column:1/13;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 2%;
	border:1px solid black;
	padding: 1%;
	
}


@media (max-width: 1200px ) {
	.box1{
	grid-column:1/4;
}
	.box2{
	grid-column:4/10;
}
	.box3{
	grid-column:10/13;
}
	.content{
	grid-column:1/9;
}
	.sidebar{
	grid-column:9/13;
}
}

@media (max-width: 960px ) {
	.box1{
	grid-column:1/5;
}
	.box2{
	grid-column:5/9;
}
	.box3{
	grid-column:9/13;
}
	.content{
	grid-column:1/7;
}
	.sidebar{
	grid-column:7/13;
}
	.footer{
		grid-template-columns: repeat(2,1fr);
		min-height: 300px ;
	}
}
@media (max-width: 600px ) {
	.box1,
	.box2,
	.box3{
	grid-column:1/13;
	}
	.content,
	.sidebar{
		grid-column:1/13;

	}
	.footer{
		grid-template-columns: repeat(1,1fr);
		min-height: 500px;
	}
}