/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/

.container{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	
	width: 89%;
	gap: 2%;
	grid-template-rows: 200px 200px 200px 200px;
	margin:auto;
}
.outline{
	border: 1px solid black;
}
header{
	grid-column: 1/13;
}
.box1{
	grid-column:1/3;
}
.box2{
	grid-column:3/11;
}
.box3{
	grid-column:11/13;
}
.content{
	grid-column:1/10;
}
.sidebar{
	grid-column:10/13;
}
footer{
	grid-column:1/13;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 2%;
	border:1px solid black;
	padding: 1%;
	
}


@media (max-width:) {

}